<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="app.home.dao.ShopIndexMapper">
    <resultMap id="BaseResultMap" type="app.home.model.TJdShopIndex">
        <result column="first_catalog" property="first_catalog" jdbcType="VARCHAR"/>
        <result column="second_catalog" property="second_catalog" jdbcType="VARCHAR"/>
        <result column="third_catalog" property="third_catalog" jdbcType="VARCHAR"/>
        <result column="product_brand" property="product_brand" jdbcType="VARCHAR"/>
        <result column="goods_num" property="goods_num" jdbcType="INTEGER"/>
        <result column="date_id" property="date_id" jdbcType="VARCHAR"/>
        <result column="device_type" property="device_type" jdbcType="VARCHAR"/>
        <result column="pv" property="pv" jdbcType="DOUBLE"/>
        <result column="focus_index" property="focus_index" jdbcType="DOUBLE"/>
        <result column="purchase_index" property="purchase_index" jdbcType="DOUBLE"/>
    </resultMap>
    <!--返回device_type、focus_index、purchase_index字段-->
    <resultMap id="FewTJdShopIndexResultMap" type="app.home.model.FewTJdShopIndex">
        <result column="product_brand" property="product_brand" jdbcType="VARCHAR"/>
        <result column="device_type" property="device_type" jdbcType="VARCHAR"/>
        <result column="focus_index" property="focus_index" jdbcType="DOUBLE"/>
        <result column="purchase_index" property="purchase_index" jdbcType="DOUBLE"/>
    </resultMap>
    <!--根据传入的多个参数，返回要给前端的数据-->
    <select id="selectFocusIndex" parameterType="app.home.model.TJdShopIndex"
            resultMap="FewTJdShopIndexResultMap">
 SELECT product_brand, device_type,focus_index FROM t_jd_shopindex WHERE
	first_catalog = #{first_catalog,jdbcType=VARCHAR}
AND second_catalog = #{second_catalog,jdbcType=VARCHAR}
AND third_catalog = #{third_catalog,jdbcType=VARCHAR}
AND date_id='20161111'
;
    </select>
    <select id="selectFocusIndexAddDateId" parameterType="app.home.model.TJdShopIndex"
            resultType="app.home.model.LittleTjdShopIndex">
         SELECT product_brand, device_type,focus_index,date_id FROM t_jd_shopindex WHERE
	first_catalog ='手机'
AND second_catalog ='手机通讯'
AND third_catalog ='对讲机'
AND product_brand='SMP'
AND date_id BETWEEN '20161110' AND '20161210'
    </select>
</mapper>